<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.hogward.mapper.BoardMapper">
  
	
	<select id="usersFeed" resultType="com.smhrd.hogward.domain.UsersFeed">
		SELECT *
          FROM (
                SELECT A.mem_email AS mem_email_A
		           , A.mem_photo
		           , A.mem_nick
		           , B.mem_email AS mem_email_B
		           , B.b_file, B.b_content
		           , B.b_rep, B.b_likes
		           , B.b_datetime
		           , ROW_NUMBER() OVER (ORDER BY B.b_datetime DESC) AS RN
        		FROM t_member A
                JOIN t_board B ON A.mem_email = B.mem_email
                )
         WHERE RN BETWEEN #{s_paging_num} AND #{e_paging_num}
	</select>
  
  	<select id="boardList" resultType="com.smhrd.hogward.domain.T_Board">
  		select * from t_board
  	</select>
  	
  	<select id="boardOne" resultType="com.smhrd.hogward.domain.T_Board">
  		select * from t_board where b_seq=#{b_seq}
  	</select>
  	
  	<insert id="insertBoard" parameterType="com.smhrd.hogward.mapper.BoardMapper">
  		INSERT INTO t_board (
  								b_seq,
								b_title
								, b_content
								, b_tag
								, b_loc
								, lat
								, lng
								, mem_email
								, b_file
								, lm_seq
								) 
				     VALUES (
				     			t_board_SEQ.nextval,
								#{b_title},
								#{b_content},
								#{b_tag},
								#{b_loc},
								#{lat},
								#{lng},
								#{mem_email},
								#{b_file},
								#{lm_seq}
								)
  	</insert>
	
  	<select id="allUserPhoto" resultType="com.smhrd.hogward.domain.LandAllUserPhoto">
  		select * from t_board where lm_seq=#{lm_seq}
  	</select>
  	
  	<select id="myFeed" resultType="com.smhrd.hogward.domain.MyFeed">
  		SELECT A.mem_photo, A.mem_nick, A.mem_joindate, A.mem_Introduce, B.b_file, B.b_seq
		  FROM t_member A LEFT JOIN t_board B 
		    ON A.mem_email = B.mem_email
		 WHERE A.mem_email = #{mem_email}
  	</select>
  	
  	<select id="rankingTen" resultType="com.smhrd.hogward.domain.Ranking">
  		SELECT ROWNUM AS rank, A.mem_email, A.authcount, B.mem_photo
		FROM (
			    SELECT M.mem_email, COUNT(*) AS authcount
			    FROM t_board B
			    INNER JOIN t_member M ON B.mem_email = M.mem_email
			    GROUP BY M.mem_email
			    ORDER BY authcount DESC
			  ) A
		INNER JOIN t_member B ON A.mem_email = B.mem_email
		WHERE ROWNUM &lt;= 10
  	
  	</select>
  
  </mapper>