<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.hogward.mapper.BoardMapper">
  	<select id="boardList" resultType="com.smhrd.hogward.domain.T_Board">
  		select * from t_board
  	</select>
  	
  	<select id="boardOne" resultType="com.smhrd.hogward.domain.T_Board">
  		select * from t_board where b_seq=#{b_seq}
  	</select>
  	
  	<insert id="writeboard" parameterType="com.smhrd.hogward.mapper.BoardMapper">
  		INSERT INTO t_board (
  								b_seq,
								b_title
								, b_content
								, b_tag
								, b_loc
								, lat
								, lng
								, mem_email
								, b_file
								, lm_seq
								) 
				     VALUES (
				     			t_board_SEQ.nextval,
								#{b_title},
								#{b_content},
								#{b_tag},
								#{b_loc},
								#{lat},
								#{lng},
								#{mem_email},
								#{b_file},
								#{lm_seq}
								)
  	</insert>
  	
  	
  	<select id="allUserPhoto" resultType="com.smhrd.hogward.domain.LandAllUserPhoto">
  		select * from t_board where lm_seq=#{lm_seq}
  	</select>
  	
  	<select id="myFeed" resultType="com.smhrd.hogward.domain.MyFeed">
  		select A.mem_photo
       		 , A.mem_nick
       		 , A.mem_joindate
       		 , A.mem_Introduce
       		 , B.b_file
       		 , b.b_seq
		from t_member a
			 , t_board b
		 where a.mem_email = b.mem_email
		   and a.mem_email = #{mem_email}
		group by A.mem_photo, A.mem_nick, A.mem_joindate, A.mem_Introduce, B.b_file, b.b_seq
  	</select>
  
  </mapper>