<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.hogward.mapper.MemMapper">
  	<insert id="join" parameterType="com.smhrd.hogward.mapper.MemMapper" >
  		INSERT INTO t_member (mem_email
  							, mem_pw
  							, mem_nick) 
  					VALUES (  #{mem_email}
  							, #{mem_pw}
  							, #{mem_nick})
  		
  		
  	</insert>
  
  </mapper>