<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.hogward.mapper.MemMapper">
  	<insert id="join" parameterType="com.smhrd.hogward.mapper.MemMapper">
  		INSERT INTO t_member (mem_email, mem_pw, mem_nick) 
  					VALUES (#{mem_email}, #{mem_pw}, #{mem_nick})
  	</insert>
  	
  	<select id="emailCheck">
  		select count(*) from t_member where mem_email=#{mem_email}
  	
  	</select>
  	
  	<select id="nickCheck">
  		select count(*) from t_member where mem_nick=#{mem_nick}
  	
  	</select>
  	
  	<select id="loginCheck">
  		select mem_nick from t_member where mem_email=#{mem_email} and mem_pw=#{mem_pw}
  	</select>
  	
  	<update id="profileUpdate" parameterType="com.smhrd.hogward.mapper.MemMapper" >
  		update t_member set mem_photo=#{newFileName} where mem_email=#{mem_email}
  	</update>
  	
  
  </mapper>