.myfeed{
    padding-top: 150PX;
    background-color: #3d3533;
}

.profile{
    padding-left: 350px;
}

.profileline{
    width: 300px !important;
    height: 300px !important;
    border-radius: 50% !important;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg{
 
    width: 290px;
    height: 290px;
    border-radius: 50%;
}


.Information{
    padding-left: 350px;
    padding-top: 20px;
    width: 1780px;
    height: 90px;
    background-color: 3d3533;
    color: white;
    
}

.photolist{
    padding-left: 350px;
}

.name,.introduce{
    color: white;
}

.name{
    font-size: 900;
}

.introduce{
    color: rgb(188, 151, 225);
}


.profile-nick, .profile-introduce{
    width: 80%;
    height: 80px;
    font-size: 18px;
    color: #736b69;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}