.myfeed{
    /* background: rgb(44, 39, 43);
    background: rgb(44, 39, 43);
    background: rgb(44, 39, 43);
    background: rgb(43, 39, 40);
    background: linear-gradient(
      180deg,
      rgba(43, 39, 40, 1) 0%,
      rgba(61, 57, 80, 1) 47%,
      rgba(90, 86, 147, 1) 100%
    ); */


    background: rgb(61,57,80);
    background: linear-gradient(
        180deg, 
        rgba(61,57,80,1) 0%,
        rgba(160,157,207,1) 6%,
        rgba(255,255,255,1) 14%);
}


.profile{
    width: 305px;
    height: 305px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.profileImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


.Information{
    width: 300px;
    height: 100px;
    background-color: white;
}