/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.userpost {
  font-family: "Pretendard-Regular", sans-serif;
} */
.userpost .individualPost {
  width: 100%;
  /* height: 717px; */
  border-radius: 10px;
  overflow: hidden;
  background-color: #fcfcfc;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.userpost_header {
  padding: 10px;

  display: flex;
  align-items: center;
}
.userpost_loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userpost_header_mem_photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.userpost_header_mem_nick {
  margin-left: 15px;
  font-size: 18px;
}
.userpost_feedContent {
  padding: 20px;
  font-size: 20px;
}
.icons_comment {
  margin-left: 20px;
}
.userpost_userslikes {
  font-size: 13px;
  margin-top: 8px;
}
.userpost_usercontent > span:first-child {
  font-size: 19px;
}
.userpost_usercontent > span:nth-child(2) {
  margin-left: 10px;
  font-size: 14px;
}
.userpost_reply {
  border-top: 1px solid #e5e7eb;
  padding-top: 15px;
}
.userpost_reply_replys {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userpost_reply_post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userpost_reply_mem_photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.userpost_reply_mem_nick {
  margin-left: 10px;
  font-size: 16px;
}
.userpost_reply_mem_comment {
  margin-left: 10px;
  font-size: 10px;
}
.userpost_reply_write {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.userpost_reply_write_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userpost_reply_write input {
  border: none;
  font-size: 12px;
  width: 100%;
  outline: none;
}
.userpost_reply_submit {
  background-color: transparent;
  border: none;
  font-size: 18px;
  white-space: nowrap;
}
.user_reply_datetime {
  font-size: 10px;
}
