.mySwiper2 {
  height: 200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 4%;
}

.mySwiper2 > .swiper-button-prev {
  color: white;
}
:root {
  --swiper-navigation-size: 25px; /* 원하는 버튼 크기로 설정 */
}
.mySwiper2 > .swiper-button-next {
  color: white;
}

.mySwiper2 > .swiper-pagination > .swiper-pagination-bullet-active-main {
  background-color: white;
}
