

/* 로그인 박스  */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 90px;
    transform: translate(-50%, -50%);
    background: white;
    border : 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 10px; 
  }
  

  /* 회원가입  */
  .login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 50px;
  }
  

  /* 아이디 비번 입력 BOX */
  .login-box .user-box {
    position: relative;
  }
  

  /* 아이디 비번 입력 BOX */
  .login-box .user-box input {
    width: 100%;
    padding: 25px 0;
    font-size: 18px;
    /* color: black; */
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    background: transparent;
  }


  /* 중복확인 버튼 */
  .info__id {
    position: relative;
  }
  

  .info__id button {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    border-radius: 3px;
  }



