

/* 로그인 박스  */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  /* padding: 90px; */
  transform: translate(-50%, -50%);
  background: white;
  border : 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 10px; 
  flex-basis: 60%;
}

/* 호그와드 */
.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 40px;
}


/* 아이디 비번 입력 BOX */
.login-box .user-box {
  position: relative;
  padding: 0px;
}

/* 아이디 비번 입력 BOX */
.login-box .user-box input {
  width: 100%;
  font-size: 16px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  background: transparent;
}

.red{
  color:rgb(240, 64, 64);
}
