
/* 아이폰미니12 기준 */
@media all and (max-width: 800px) {
  .login-box-container {
    height: auto;
    padding: 10px;
    position: relative;
  }
  
  .login-box {
    /* 로그인 박스에 대한 스타일 설정 */
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    width: 75% !important ;
    padding: 30px !important;
  }
  
  .login-box h1 {
    /* 로그인 제목에 대한 스타일 설정 */
    /* 예: 폰트 크기 조정 */
    font-size: 30px !important;
  }
  
  .login-box .user-box input {
    /* 아이디 및 비밀번호 입력란에 대한 스타일 설정 */
    /* 예: 폰트 크기 조정 */
    font-size: 13px !important;
  }
  
  .logincheck {
    font-size: 13px !important;
  }

}


/* 로그인 컨테이너  */
.login-box-container {
  background: url("../img/mainbg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #3d3533;
  height: 100vh;
  position: relative;
}

/* 로그인 박스  */
.login-box {
  position: absolute;
  top: 60% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid lightgray;
  box-sizing: border-box;
  border-radius: 10px;
  flex-basis: 60%;
}

/* 호그와드 */
.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 55px;
}

/* 아이디 비번 입력 BOX */
.login-box .user-box {
  position: relative;
  padding: 0px;
}

/* 아이디 비번 입력 BOX */
.login-box .user-box input {
  width: 100%;
  font-size: 16px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  background: transparent;
  font-family:"Nanum Gothic", sans-serif !important;
}

.logincheck{
  color: purple;
  font-family:"Nanum Gothic", sans-serif !important;
}


input[type=password]{
	font-family:"Nanum Gothic", sans-serif !important;
}  

@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css" )



