/* src/index.css */

/* 유저 게시글 스타일 */
.user-post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .user-post h3 {
    margin: 0;
  }
  
  .user-post p {
    margin: 0;
    margin-top: 10px;
  }
  
  /* 유저 목록 스타일 */
  .user-list {
    list-style: none;
    padding: 0;
  }
  
  .user-list li {
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .user-list li:hover {
    color: #fff;
    background-color: #007bff;
  }
  